@page
@model KompromatKoffer.Pages.Database.NewsDatabaseModel
@{
}


<div class="iconMenu">
    <a asp-page="/Database/People" title="Politiker Bestenliste" class="iconHoverPages interactionMenu"><i class="fas fa-user-circle"></i></a>
    <a asp-page="/Database/Global" asp-route-sinceDays="-7" title="Politiker Statistik" class="iconHoverPages interactionMenu"><i class="fas fa-chart-line"></i></a>
    <a asp-page="/Database/TweetDatabase" title="Tweet Datenbank" class="iconHoverPages interactionMenu"><i class="fas fa-binoculars"></i></a>
    <a asp-page="/Database/NewsDatabase" asp-route-searchstring="@Model.CurrentFilter" title="RSS Feed Scanner" class="iconHoverPages interactionMenu interActionMenuGreat"><i class="fas fa-rss"></i></a>
</div>

<div class="interactionMenuBar">

    <form>
        <input type="text" name="SearchString" class="twitterUserSearchInput" placeholder="Search...">
    </form>


</div>

<div class="lasthundred">

    @{ 
//Change CSS Classes!

    }
    <div class="RSSFeedSearch">



        <h5><b>Tagesschau.de</b></h5>
        @foreach (var item in Model.Tagesschau.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {
                <a href="@item.Link" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }





        <h5><b>Deutschlandfunk</b></h5>
        @foreach (var item in Model.DlandFunk.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {
                <a href="@item.Link" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }

        <h5><b>Deutsche Welle</b></h5>
        @foreach (var item in Model.DeutscheWelle.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {
                <a href="@item.Link" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }



        <h5><b>ZDF.de - Heute Journal</b></h5>
        @foreach (var item in Model.Zdf.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {
                <a href="@item.Link" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }



        <h5><b>Welt.de</b></h5>
        @foreach (var item in Model.WeltDe.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {
                <a href="@item.Link" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }


        <h5><b>Spiegel.de</b></h5>
        @foreach (var item in Model.SpiegelOnline.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {

                <a href="@item.Link" target="_blank">-> @item.Title</a>
                <br />

            }
            else
            {

            }
        }



        <h5><b>Nzz.ch</b></h5>
        @foreach (var item in Model.Nzz.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {

                <a href="@item.Link" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }



        <h5><b>Standard.at</b></h5>
        @foreach (var item in Model.StandardAt.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {

                <a href="@item.Link" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }



        <h5><b>Bild.de</b></h5>
        @foreach (var item in Model.BildDe.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {

                <a href="@item.Link" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }



        <h5><b>n-tv.de</b></h5>
        @foreach (var item in Model.Ntv.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {

                <a href="@item.Link" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }


        <h5><b>Tagesspiegel.de</b></h5>
        @foreach (var item in Model.Tagesspiegel.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {

                <a href="@item.Link" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }

        <h5><b>WDR</b></h5>
        @foreach (var item in Model.Wdr.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {

                <a href="@item.Link" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }


        <h5><b>FocusOnline</b></h5>
        @foreach (var item in Model.FocusOnline.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {

                <a href="@item.Link" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }



        <h5><b>Süddeutsche.de</b></h5>
        @foreach (var item in Model.SueddeutscheDe.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {

                <a href="@item.Link" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }



        <h5><b>Zeit.de</b></h5>
        @foreach (var item in Model.ZeitDe.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {

                <a href="@item.Link" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }



        <h5><b>Faz.net</b></h5>
        @foreach (var item in Model.FazNet.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {

                <a href="@item.Link" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }



        <h5><b>Stern.de</b></h5>
        @foreach (var item in Model.SternDe.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {

                <a href="@item.Link" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }



        <h5><b>de.Sputniknews.com</b></h5>
        @foreach (var item in Model.Sputnik.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {
                <a href="@item.Link" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }












    </div>

</div>
