@page
@model KompromatKoffer.Pages.Database.NewsDatabaseModel
@{
}


<div class="iconMenu">
    <a asp-page="/Database/People" title="Politiker Bestenliste" class="iconHoverPages interactionMenu"><i class="fas fa-user-circle"></i></a>
    <a asp-page="/Database/Global" asp-route-sinceDays="-7" title="Politiker Statistik" class="iconHoverPages interactionMenu"><i class="fas fa-chart-line"></i></a>
    <a asp-page="/Database/TweetDatabase" title="Tweet Datenbank" class="iconHoverPages interactionMenu"><i class="fas fa-binoculars"></i></a>
    <a asp-page="/Database/NewsDatabase" asp-route-searchstring="@Model.CurrentFilter" title="RSS Feed Scanner" class="iconHoverPages interactionMenu interActionMenuGreat"><i class="fas fa-rss"></i></a>
</div>

<div class="interactionMenuBar">

    <form>
        <input type="text" name="SearchString" class="twitterUserSearchInput" placeholder="Search...">
    </form>

    <div class="PoliticalPartyMenu">
        <a asp-page="" asp-route-searchstring="" class="iconHoverPagesPeopleAll interactionMenu smallIcons colorall" title="Alle Parteien">
            <i class="fas fa-circle"></i>
            &nbsp;
        </a>
        <a asp-page="" asp-route-searchstring="AFD" class="iconHoverPagesPeopleAll interactionMenu smallIcons colorafd" title="AFD">
            <i class="fas fa-circle"></i>
            &nbsp;
        </a>
        <a asp-page="" asp-route-searchstring="CDU" class="iconHoverPagesPeopleAll interactionMenu smallIcons colorcdsu" title="CDU/CSU">
            <i class="fas fa-circle"></i>
            &nbsp;
        </a>
        <a asp-page="" asp-route-searchstring="FDP" class="iconHoverPagesPeopleAll interactionMenu smallIcons colorfdp" title="FDP">
            <i class="fas fa-circle"></i>
            &nbsp;
        </a>
        <a asp-page="" asp-route-searchstring="GRÜNE" class="iconHoverPagesPeopleAll interactionMenu smallIcons colorgruene" title="BÜNDNIS 90 / DIE GRÜNEN">
            <i class="fas fa-circle"></i>
            &nbsp;
        </a>
        <a asp-page="" asp-route-searchstring="LINKE" class="iconHoverPagesPeopleAll interactionMenu smallIcons colorlinke" title="DIE LINKE">
            <i class="fas fa-circle"></i>
            &nbsp;
        </a>
        <a asp-page="" asp-route-searchstring="SPD" class="iconHoverPagesPeopleAll interactionMenu smallIcons colorspd" title="SPD">
            <i class="fas fa-circle"></i>
            &nbsp;
        </a>
    </div>


</div>

<div class="lasthundred">

 
{<div class="RSSFeedSearch">
    <h5><a href="@Model.Tagesschau.Link" target"_blank"> Tagesschau.de</a></h5>
    <p class="newsCopyright">@Model.Tagesschau.Copyright</p>
    @foreach (var item in Model.Tagesschau.Items)
    {
        if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
        {
            <a href="@item.Link" class="newsLink" target="_blank">-> @item.Title</a>
            <br />
        }
    }
</div>





    <div class="RSSFeedSearch">

        <h5><a href="@Model.DlandFunk.Link" target="_blank">Deutschlandfunk</a></h5>
        <p class="newsCopyright">@Model.DlandFunk.Copyright</p>
        @foreach (var item in Model.DlandFunk.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {
                <a href="@item.Link" class="newsLink" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }

    </div>
    <div class="RSSFeedSearch">

        <h5><a href="@Model.DeutscheWelle.Link" target="_blank">Deutsche Welle</a></h5>
        <p class="newsCopyright">@Model.DeutscheWelle.Copyright</p>
        @foreach (var item in Model.DeutscheWelle.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {
                <a href="@item.Link" class="newsLink" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }

    </div>
    <div class="RSSFeedSearch">

        <h5><a href="@Model.WeltDe.Link" target="_blank">Welt.de</a></h5>
        <p class="newsCopyright"> @Model.WeltDe.Copyright</p>
        @foreach (var item in Model.WeltDe.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {
                <a href="@item.Link" class="newsLink" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }

    </div>
    <div class="RSSFeedSearch">

        <h5><a href="@Model.SpiegelOnline.Link" target="_blank">Spiegel.de</a></h5>
        <p class="newsCopyright">@Model.SpiegelOnline.Copyright</p>
        @foreach (var item in Model.SpiegelOnline.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {

                <a href="@item.Link" class="newsLink" target="_blank">-> @item.Title</a>
                <br />

            }
            else
            {

            }
        }

    </div>
    <div class="RSSFeedSearch">


        <h5><a href="@Model.Nzz.Link" target="_blank">Nzz.ch</a></h5>
        <p class="newsCopyright">@Model.Nzz.Copyright</p>
        @foreach (var item in Model.Nzz.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {

                <a href="@item.Link" class="newsLink" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }

    </div>
    <div class="RSSFeedSearch">


        <h5><a href="@Model.Orf.Link" target="_blank">ORF.at</a></h5>
        <p class="newsCopyright">@Model.Orf.Copyright</p>
        @foreach (var item in Model.Orf.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {

                <a href="@item.Link" class="newsLink" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }

    </div>
    <div class="RSSFeedSearch">

        <h5><a href="@Model.StandardAt.Link" target="_blank">Standard.at</a></h5>
        <p class="newsCopyright">@Model.StandardAt.Copyright</p>
        @foreach (var item in Model.StandardAt.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {

                <a href="@item.Link" class="newsLink" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }

    </div>
    <div class="RSSFeedSearch">

        <h5><a href="@Model.BildDe.Link" target="_blank">Bild.de</a></h5>
        <p class="newsCopyright">@Model.BildDe.Copyright</p>
        @foreach (var item in Model.BildDe.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {

                <a href="@item.Link" class="newsLink" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }

    </div>
    <div class="RSSFeedSearch">

        <h5><a href="@Model.Srf.Link" target="_blank">SRF</a></h5>
        <p class="newsCopyright">@Model.Srf.Copyright</p>
        @foreach (var item in Model.Srf.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {

                <a href="@item.Link" class="newsLink" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }

    </div>
    <div class="RSSFeedSearch">

        <h5><a href="@Model.Ntv.Link" target="_blank">n-tv.de</a></h5>
        <p class="newsCopyright">@Model.Ntv.Copyright</p>
        @foreach (var item in Model.Ntv.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {

                <a href="@item.Link" class="newsLink" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }

    </div>
    <div class="RSSFeedSearch">

        <h5><a href="@Model.Tagesspiegel.Link" target="_blank">Tagesspiegel.de</a></h5>
        <p class="newsCopyright">@Model.Tagesspiegel.Copyright</p>
        @foreach (var item in Model.Tagesspiegel.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {

                <a href="@item.Link" class="newsLink" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }

    </div>
    <div class="RSSFeedSearch">

        <h5><a href="@Model.Wdr.Link" target="_blank">WDR</a></h5>
        <p class="newsCopyright">@Model.Wdr.Copyright</p>
        @foreach (var item in Model.Wdr.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {

                <a href="@item.Link" class="newsLink" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }
    </div>
    <div class="RSSFeedSearch">


        <h5><a href="@Model.FocusOnline.Link" target="_blank">FocusOnline</a></h5>
        <p class="newsCopyright">@Model.FocusOnline.Copyright</p>
        @foreach (var item in Model.FocusOnline.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {

                <a href="@item.Link" class="newsLink" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }
    </div>
    <div class="RSSFeedSearch">



        <h5><a href="@Model.SueddeutscheDe.Link" target="_blank">Süddeutsche.de</a></h5>
        <p class="newsCopyright">@Model.SueddeutscheDe.Copyright</p>
        @foreach (var item in Model.SueddeutscheDe.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {

                <a href="@item.Link" class="newsLink" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }

    </div>
    <div class="RSSFeedSearch">



        <h5><a href="@Model.ZeitDe.Link" target="_blank">Zeit.de</a></h5>
        <p class="newsCopyright">@Model.ZeitDe.Copyright</p>
        @foreach (var item in Model.ZeitDe.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {

                <a href="@item.Link" class="newsLink" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }

    </div>
    <div class="RSSFeedSearch">



        <h5><a href="@Model.FazNet.Link" target="_blank">Faz.net</a></h5>
        <p class="newsCopyright">@Model.FazNet.Copyright</p>
        @foreach (var item in Model.FazNet.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {

                <a href="@item.Link" class="newsLink" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }

    </div>
    <div class="RSSFeedSearch">



        <h5><a href="@Model.SternDe.Link" target="_blank">Stern.de</a></h5>
        <p class="newsCopyright">@Model.SternDe.Copyright</p>
        @foreach (var item in Model.SternDe.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {

                <a href="@item.Link" class="newsLink" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }

    </div>
    <div class="RSSFeedSearch">

        <h5><a href="@Model.RpOnline.Link" target="_blank">rp-online.de</a></h5>
        <p class="newsCopyright">@Model.RpOnline.Copyright</p>
        @foreach (var item in Model.RpOnline.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {

                <a href="@item.Link" class="newsLink" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }

    </div>
    <div class="RSSFeedSearch">



        <h5><a href="@Model.Sputnik.Link" target="_blank">de.Sputniknews.com</a></h5>
        <p class="newsCopyright">@Model.Sputnik.Copyright</p>
        @foreach (var item in Model.Sputnik.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {
                <a href="@item.Link" class="newsLink" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }

    </div>

    <div class="RSSFeedSearch">

        <h5><a href="@Model.BerlinerZeitung.Link" target="_blank">Berliner Zeitung</a></h5>
        <p class="newsCopyright">@Model.BerlinerZeitung.Copyright</p>
        @foreach (var item in Model.BerlinerZeitung.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {
                <a href="@item.Link" class="newsLink" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }

    </div>

    <div class="RSSFeedSearch">

        <h5><a href="@Model.MuenchMerkur.Link" target="_blank">Merkur.de</a></h5>
        <p class="newsCopyright">@Model.MuenchMerkur.Copyright</p>
        @foreach (var item in Model.MuenchMerkur.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {
                <a href="@item.Link" class="newsLink" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }

    </div>

    <div class="RSSFeedSearch">

        <h5><a href="@Model.Cicero.Link" target="_blank">Cicero.de</a></h5>
        <p class="newsCopyright">@Model.Cicero.Copyright</p>
        @foreach (var item in Model.Cicero.Items)
        {
            if (item.Title.ToLower().Contains(Model.CurrentFilter.ToLower()) == true)
            {
                <a href="@item.Link" class="newsLink" target="_blank">-> @item.Title</a>
                <br />
            }
            else
            {

            }
        }

    </div>

    <div class="seperate"></div>

</div>
