@page
@model IndexModel
@{
    ViewData["Title"] = "компроматkoffer.de - Kompromittiere den Bundestag";

}

<div class="iconMenu">
    <a asp-page="/Database/People" title="Politiker Bestenliste" class="iconHoverPages interactionMenu"><i class="fas fa-user-circle"></i></a>
    <a asp-page="/Database/Global" asp-route-sinceDays="-7" title="Politiker Statistik" class="iconHoverPages interactionMenu"><i class="fas fa-chart-line"></i></a>
    <a asp-page="/Database/TweetDatabase" title="Tweet Datenbank" class="iconHoverPages interactionMenu"><i class="fas fa-binoculars"></i></a>
    <a asp-page="/Database/NewsDatabase" asp-route-searchstring="Russland" title="RSS Feed Scanner" class="iconHoverPages interactionMenu interActionMenuGreat"><i class="fas fa-rss"></i></a>
    <a asp-page=""
       asp-route-sortOrder="@Model.FavCountSort"
       asp-route-currentFilter="@Model.CurrentFilter" class="iconHoverPages interactionMenu" title="Most Likes"><i class="fas fa-heart"></i></a>
    <a asp-page=""
       asp-route-sortOrder="@Model.RetweetCountSort"
       asp-route-currentFilter="@Model.CurrentFilter" class="iconHoverPages interactionMenu interActionMenuSmall" title="Most Retweets"><i class="fas fa-retweet"></i></a>
    <a asp-page=""
       asp-route-sortOrder="@Model.CreatedAtSort"
       asp-route-currentFilter="@Model.CurrentFilter" class="iconHoverPages interactionMenu" title="Latest Tweets"><i class="fas fa-clock"></i></a>
</div>

<div class="interactionMenuBar">
    <form>
        <input type="text" name="SearchString" class="twitterUserSearchInput" placeholder="Search...">
    </form>
</div>

<div class="indexWarning">
<p>@Model.WarningMessage</p>
</div>

<div class="lasthundred">
    <h4>Die letzten @Convert.ToString(Model.CompleteDB.Count()) Tweets aus dem Bundestag</h4>


    @foreach (var x in Model.TwitterStreamModel)
    {


    <div id="tweetLink">
        <a asp-page="/Database/PeopleDetail" asp-route-screenname="@x.TweetUser" asp-route-sinceDays="-7" class="dataBaseProfile"><i class="fas fa-user-circle"></i></a>
        <a href="@x.TweetUrl" target="_blank" class="tweetLink">
            <img src="@x.TweetUserPicture" />
            <br>
            @x.TweetUserName
            <br>
            <p class="profileDesc">@x.TweetUserDesc</p>

            @Html.Raw(x.TweetText)

            <hr class="IndexHR" />

            <p class="socialIconsIndex">
                <i class="fas fa-retweet"></i> @x.TweetReTweetCount &emsp; <i class="fas fa-heart"></i> @x.TweetFavoriteCount &emsp; @x.TweetCreatedAt.ToString("dd.MM.yy - H:mm")
            </p>

        </a>


        <a href="@x.TweetUrl" target="_blank" class="showTwitter"><i class="fab fa-twitter"></i>
        </a>


    </div>

    }

    @{
        var prevDisabled = !Model.TwitterStreamModel.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.TwitterStreamModel.HasNextPage ? "disabled" : "";

    }

    <div class="twitterUserPageing">
        <a asp-page=""
           asp-route-sortOrder="@Model.CurrentSort"
           asp-route-pageIndex="@(Model.TwitterStreamModel.PageIndex - 1)"
           asp-route-currentFilter="@Model.CurrentFilter"
           class="btn btn-default @prevDisabled">
            <<
        </a>
        <a asp-page=""
           asp-route-sortOrder="@Model.CurrentSort"
           asp-route-pageIndex="@(Model.TwitterStreamModel.PageIndex + 1)"
           asp-route-currentFilter="@Model.CurrentFilter"
           class="btn btn-default @nextDisabled">
            >>
        </a>

    </div>

</div>