@page
@model IndexModel
@{
    ViewData["Title"] = "компроматkoffer.de - Kompromittiere den Bundestag";

}

<div class="interactionMenuBar">
    <form>
        <input type="text" name="SearchString" class="twitterUserSearchInput" placeholder="Search...">
    </form>  
    <a asp-page="/Database/People" title="Database" class="iconHoverPages interactionMenu">
        <i class="fas fa-database"> </i>
        &nbsp;
    </a>
    <a asp-page="/Database/Global" asp-route-sinceDays="-7" title="Global Chart" class="iconHoverPages interactionMenu">
        <i class="fas fa-chart-line"></i>
        &nbsp;
    </a>
    <a asp-page=""
       asp-route-sortOrder="@Model.FavCountSort"
       asp-route-currentFilter="@Model.CurrentFilter" class="iconHoverPages interactionMenu" title="Most Likes Today">
        <i class="fas fa-heart"> </i>
        &nbsp;
    </a>
    <a asp-page=""
       asp-route-sortOrder="@Model.CreatedAtSort"
       asp-route-currentFilter="@Model.CurrentFilter" class="iconHoverPages interactionMenu" title="Latest Tweets">
        <i class="fas fa-clock"></i>
        &nbsp;
    </a>

</div>


<div class="lasthundred">
    <h4>Die letzten @Convert.ToString(Model.TweetList.Count()) Tweets aus dem Bundestag</h4>

    @foreach (var x in Model.TweetList)
    {

        <div id="tweetLink">
            <a asp-page="/Database/PeopleDetail" asp-route-screenname="@x.CreatedBy.ScreenName" asp-route-sinceDays="-7" class="dataBaseProfile"><i class="fas fa-user-circle"></i></a>
            <a href="@x.Url" target="_blank" class="tweetLink">
                <img src="@x.CreatedBy.ProfileImageUrlHttps" />
                <br>
                @x.CreatedBy
                <br>
                <p class="profileDesc">@x.CreatedBy.Description</p>
                @{
                    if (x.InReplyToScreenName != null)
                    {
                        <p class="replyToName">Replying to: @x.InReplyToScreenName</p>
                    }
                }
                @{
                    if (x.QuotedTweet != null)
                    {

                        <p class="quotedTweet">
                            @x.QuotedTweet.CreatedBy
                            <br>
                            @x.QuotedTweet
                        </p>


                    }
                }
                @{
                    if (x.ExtendedTweet != null)
                    {
                        @Html.Raw(x.ExtendedTweet.Text)

                    }
                    else
                    {
                        @Html.Raw(x.Text)
                    }

                }
                <hr class="IndexHR" />
                <p class="socialIconsIndex">
                    <i class="fas fa-retweet"></i> @x.RetweetCount &emsp; <i class="fas fa-heart"></i> @x.FavoriteCount &emsp; @x.CreatedAt.ToString("dd.MM.yy - H:mm")
                </p>

            </a>

        </div>

    }

</div>
