@page
@model KompromatKoffer.Pages.Lists.MdB.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Liste aller Mitglieder des Bundestages</h2>

<table class="MdBListTable">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>

                <p>
                 <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                 @Html.DisplayNameFor(model => model.MdBModel[0].TwitterName)
                </a>
                </p>

                <form>
                    <p>
                        <input type="text" name="SearchString">
                        <input type="submit" value="Filter" />
                    </p>
                </form>

            </th>
            <th>
                Photo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MdBModel[0].Verified)
            </th>
            <th>
                Description
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MdBModel[0].Party)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MdBModel[0].Location)
            </th>
            <th>
                Website
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MdBModel[0].CreatedAt)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.StatusCountSort">
                    Statuses
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.FollowersCountSort">
                    Followers
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.FriendsCountSort">
                    Friends
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.FavCountSort">
                    Favs
                </a>
            </th>
            <th>

                <p>
                    @Html.DisplayNameFor(model => model.MdBModel[0].LastStatus)
                </p>

                <form>
                    <p>
                        <input type="text" name="SearchStringLastStatus">
                        <input type="submit" value="Filter" />
                    </p>
                </form>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                @Html.DisplayNameFor(model => model.MdBModel[0].LastStatusCreated)
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MdBModel)
{
        <tr>
            <td>
                @{
                    int indexpos = Model.MdBModel.IndexOf(item);
                }

                @indexpos
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.TwitterProfileUrl)" target="_blank">
                    @Html.DisplayFor(modelItem => item.TwitterName)
                </a>
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ProfileImageUrlHttps)" />
            </td>
            <td class="verified">
                @Html.DisplayFor(modelItem => item.Verified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwitterDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Party)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td class="verified">
                <a href="@Html.DisplayFor(modelItem => item.LinkedUrl)" target="_blank">link</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusesCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FollowersCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FriendsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavCounts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastStatusCreated)
            </td>
        </tr>
}
    </tbody>
</table>
