@page
@model KompromatKoffer.Pages.Administration.AdministrationModel
@{
    ViewData["Title"] = "Administration";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="interactionMenuBar">

</div>

<div class="adminMainView">
    <div class="settingsContainer">
        <div class="settingsView">
            <form id="ListSettings">
                <h3>Settings</h3>
                <p>
                    <label for="ListName">ListName</label>
                    <input type="text" name="ListName" value="@Config.Parameter.ListName" />
                </p>
                <p>

                    <label for="ListOwner">ListOwner</label>
                    <input type="text" name="ListOwner" value="@Config.Parameter.ScreenName" />
                </p>
                <p>

                    <label for="TweetRetrieved">TweetRetrieved</label>
                    <input type="text" name="TweetRetrieved" value="@Config.Parameter.TweetsRetrieved" />
                </p>
                <p>
                    <label for="UpdateDelay">UpdateDelay</label>
                    <input type="text" name="UpdateDelay" value="@Config.Parameter.UpdateDelay" />
                </p>
                <p>

                    <label for="TaskDelay">TaskDelay</label>
                    <input type="text" name="TaskDelay" value="@Config.Parameter.TaskDelay" />
                </p>

                <p>

                    <label for="TwitterUserUpdateInterval">TwitterUserUpdateInterval</label>
                    <input type="text" name="TwitterUserUpdateInterval" value="@Config.Parameter.TwitterUserUpdateInterval" />
                </p>
                <p>

                    <label for="TwitterUserDailyUpdateInterval">TwitterUserDailyUpdateInterval</label>
                    <input type="text" name="TaskTwitterUserDailyUpdateIntervalDelay" value="@Config.Parameter.TwitterUserDailyUpdateInterval" />
                </p>
                <p>

                    <label for="TwitterUserDailyTaskDelay">TwitterUserDailyTaskDelay</label>
                    <input type="text" name="TwitterUserDailyTaskDelay" value="@Config.Parameter.TwitterUserDailyTaskDelay" />
                </p>
                <p>

                    <label for="TwitterUserDailyUpdateDelay">TwitterUserDailyUpdateDelay</label>
                    <input type="text" name="TwitterUserDailyUpdateDelay" value="@Config.Parameter.TwitterUserDailyUpdateDelay" />
                </p>
                <br />
                <button type="submit" value="Save Settings" class="btn btn-default">Save Settings</button>
                <br />
            </form>
        </div>

        <div class="emailSettingsView">
            <h3>Email Settings</h3>
            <form>
                <p>

                    <label for="Mail Address"> Mail Address</label>
                    <input type="text" name="Mail Address" value="@Config.Parameter.Mail_From_Email_Address" />
                </p>
                <p>

                    <label for="Mail Displayname">Mail Displayname</label>
                    <input type="text" name="Mail Displayname" value="@Config.Parameter.Mail_From_Email_Address" />
                </p>
                <p>

                    <label for="Mail Host">Mail Host</label>
                    <input type="text" name="Mail Host" value="@Config.Parameter.Mail_Host" />
                </p>
                <p>

                    <label for="Mail Port">Mail Port</label>
                    <input type="text" name="Mail Port" value="@Config.Parameter.Mail_Port" />
                </p>
                <p>

                    <label for="Login">Login</label>
                    <input type="text" name="Login" value="@Config.Parameter.Mail_Email_Login" />
                </p>
                <p>

                    <label for="Password">Password</label>
                    <input type="password" name="Password" value="@Config.Parameter.Mail_Email_Passwort" />
                </p>
                <br />
                <button type="submit" value="Save Mail Settings" class="btn btn-default"> Save Mail Settings</button>
                <br />
            </form>
        </div>

    </div>
    <hr />
    <div class="userOverview">
        <h5>User</h5>
        @foreach (var user in Model.UserWithRoles)
        {

            <p>
                @user.Username
            </p>

        }
        <p>Total Users @Model.UserWithRoles.Count()</p>
    </div>

    <div class="space"><hr /></div>

    <p>
        TwitterUser last Update: @Config.Parameter.DbLastUpdated.ToString("dd.MM.yy - hh.mm")
    </p>
    <p>
        TwitterUser Daily Update: @Config.Parameter.UserDailyDataLastUpdated.ToString("dd.MM.yy - hh.mm")
    </p>

    
</div>


