@page
@model KompromatKoffer.Pages.Administration.ListEditorModel
@{
    ViewData["Title"] = "ListEditor";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="iconMenu">
    <a asp-page="Index" title="Main Settings" class="iconHoverPages interactionMenu"><i class="fas fa-wrench"></i></a>
    <a asp-page="Index" title="Main Settings" class="iconHoverPages interactionMenu"><i class="fas fa-list-alt"></i></a>
    <a asp-page=""
       asp-route-sortOrder="@Model.FavCountSort" class="iconHoverPages interactionMenu" title="Most Likes"><i class="fas fa-heart"></i>
</a>
</div>

<div class="interactionMenuBar">

</div>

<div class="adminMainView">
    <div class="settingsContainer">
        <div class="settingsView">

                <h3>ListEditor</h3>


                @{
                    var completeDB = Model.CompleteDB;


                }

                <table class="listEditor-table">




                    <!--Table Header-->
                    @{



                        <tr>
                            <th>Foto</th>
                            <th>ID</th>
                            <th class="nameCol">Name</th>
                            <th>Screen Name</th>
                            <th>Party</th>
                        </tr>

                        <!--Table Rows-->

                        foreach (var item in completeDB)
                        {

                            <tr>
                                <td class="polFoto"><img src="@item.Profile_image_url_https" /></td>
                                <td>@item.Id</td>

                                <td>@item.Name</td>
                                <td>@item.Screen_name</td>
                                <td class="PartyDropDown">
                                    
                                    <form method="post">

                                        @{
                                            var polPaMembership = 8;

                                            if (item.PoliticalParty == "AFD")
                                            {
                                                polPaMembership = 1;
                                            }

                                            if (item.PoliticalParty == "BÜNDNIS 90/DIE GRÜNEN")
                                            {
                                                polPaMembership = 2;
                                            }

                                            if (item.PoliticalParty == "CDU/CSU")
                                            {
                                                polPaMembership = 3;
                                            }

                                            if (item.PoliticalParty == "Die Linke")
                                            {
                                                polPaMembership = 4;
                                            }

                                            if (item.PoliticalParty == "FDP")
                                            {
                                                polPaMembership = 5;
                                            }

                                            if (item.PoliticalParty == "SPD")
                                            {
                                                polPaMembership = 6;
                                            }

                                            if (item.PoliticalParty == "Fraktionslos")
                                            {
                                                polPaMembership = 7;
                                            }

                                            if (item.PoliticalParty == null)
                                            {
                                                polPaMembership = 8;
                                            }


                                            Model.PoliticalPartyMember = polPaMembership;

                                        }


                                        <!--SelectList for Political Party-->
                                        <select asp-for="PoliticalPartyMember" asp-items="Model.PoliticalParty">

                                        </select>

                                        <!--Submit Button for Political Membership-->
                                        <button type="submit" asp-page-handler="SaveEntry" asp-route-id="@item.Id">
                                        Update
                                        </button>

                                    </form>
                                </td>
                                <td>
                                </td>
                            </tr>


                        }



                    }









                </table>
                
</div>
        </div>
    </div>

